<body style="background-color: black">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="container">
      <h1 id= banner-text-typedjs></h1>
    </div>
    <div class="buttonnn">
      <button type="button" class="btn btn-success btn-lg" onClick="document.querySelector('.cards').scrollIntoView()">Browse</button>
    </div>
  </div>



  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to "cocktails/#{cocktail.id}" do %>
        <% if cocktail.photo.attached? %>
          <div class="card-trip" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path cocktail.photo.key %>');">
        <% else %>
           <div class="card-trip">
        <% end %>
           <div class="container">
              <h2><%= cocktail.name %></h2>
            </div>
          </div>
        <% end %> 
    <%end%>

    <div class="add-container">
      <%= link_to new_cocktail_path do %>
        <img src="https://cdn.pixabay.com/photo/2016/10/10/01/49/plus-1727487_960_720.png">
      <%end%>
    </div>  
  </div>
<div class="footer mt-5" style="height:100px">
  <div id=test>
  </div>
</div>
</body>
