.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;

    h1 {
        margin: 0;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        font-size: 64px;
        font-weight: bold;
    }
    .container {
        position: absolute;
        width: 600px;
        top: 451px;
        left: 150px;

    }
    #banner-text-typedjs {
        display: inline;
    }
}