.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;

    h1 {
        margin: 0;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        font-size: 64px;
        font-weight: bold;
    }

    .container {
        position: absolute;
        width: 1200px;
        top: 451px;
        left: 240px;
    }

    .buttonnn {
        position: absolute;
        top: 550px;
        left: 900px;
    }
    
    #banner-text-typedjs {
        display: inline;
    }

    .btn {
        border-radius: 10px;
        padding: 8px;
        font-weight: 600;
        font-size: 22px;
        color: white;
        font-family: "Nunito", "Helvetica", "sans-serif";

    }

    .btn:hover {
        background-color: white;
        color: #1EDD88;
    }
}