.card-trip {
    position: relative;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-size: cover;
    height: 250px;
  
  .container {
    display: flex;
    position: absolute;
    text-align: left;
    bottom: 10px;
    color: white
  }

}

.add-container {
  background: transparent;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 20px;
  position: relative;

  img {
    width: 50px;
    height: 50px;
    position:absolute;
    top: 100px;
    left: 150px;
  }

}


.card-trip:hover {
  filter: opacity(0.7);
}
